In [1]:
import pandas as pd

In [23]:
d = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [24]:
type(d)

list

In [25]:
len(d)

3

In [73]:
df = d[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [74]:
grouped = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
df1 = pd.DataFrame(grouped)
df1 = df1.reset_index()
df1 = df1[df1.Borough != 'Not assigned']

In [79]:
df1.head(10)

   Postcode      Borough                                    Neighbourhood
1       M1B  Scarborough                                   Rouge, Malvern
2       M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
3       M1E  Scarborough                Guildwood, Morningside, West Hill
4       M1G  Scarborough                                           Woburn
5       M1H  Scarborough                                        Cedarbrae
6       M1J  Scarborough                              Scarborough Village
7       M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
8       M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
9       M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
10      M1N  Scarborough                      Birch Cliff, Cliffside West

In [80]:
df1.shape

(103, 3)